<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
    <link rel="stylesheet" href="/css/master.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">
        <div class="top-header">
            <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt='Logo de MercadoLiebre' class='logo'></a>
            <form class = "search-bar">
                <input type="search" placeholder="Buscar productos, marcas" required>
                <i class="fa fa-search"></i>
            </form>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </header>
    <main >
    <form  action="/" method="GET">
        <div class="main-register">
            <div class="register-box">
                <input class="control" type="text" name="nombre" id="nombre" required placeholder="Nombre y Apellido">
                <span>Por favor ingrese su nombre completo</span>
            </div>

            <div class="register-box">
                <input class="control" type="text" name="nombre-usuario" id="nombre-usuario" required placeholder="Nombre de Usuario">
                <span>Ingrese un Nombre de Usuario</span>
            </div>

            <div class="register-box">
                <input class='control' type="text" name="email" id="email"  required placeholder="Email">
                <span>Ingrese un Mail Valido</span>
            </div>
            <div class="register-Fecha">
                <label for="fecha">Fecha de Nacimiento:</label>
                <input  type="date"  id="fecha" value size="15">
            </div>
            <div class="register-box">
                <input class="control" type="text" name="domicilio" id="domicilio" required placeholder="Domicilio">
            </div>
            <div class="register-box">
                <label for="perfilusuario">Perfil de Usuario:</label>
        
                <input type="radio" name="perfil"  id="comprador"value="comprador">
                <label for="comprador">Comprador</label>

                <input  type="radio" name="perfil" id="vendedor"value="vendedor">
                <label for="vendedor">Vendedor</label> 
            </div>

            <div class="register-box">
                <label for="intereses">Intereses:</label>

                <input type="checkbox" name="categoria" id="intereses">
                <label for="intereses" name="categoria" >Electro</label>

                <input  type="checkbox" name="categoria" id="intereses">
                <label for="intereses" name="categoria" >Moda</label>
                
                <input type="checkbox" name="categoria" id="intereses">
                <label for="intereses" name="categoria" >Hogar</label>

                <input type="checkbox" name="categoria" id="intereses">
                <label for="intereses" name="categoria" >Jugeteria</label>

                <input type="checkbox" name="categoria" id="intereses">
                <label for="intereses" name="categoria" >Vida Sana</label>
            </div>

            <label class="labelfile"for="">Subir Foto de Perfil<input class="inputfile" type="file" accept=".jpg" name="file" id="file"></label>
            <!--
            <div class="upload">
                <input type="button" class="uploadButton" value="Subir Foto De Perfil" />
                <input type="file" name="upload" accept="image/*" id="fileUpload" />
               </div>-->
              
            <div class="register-box">
                <input class="control" type="password" name="Contraseña" id="Contraseña" required placeholder="Contraseña">
                <span>Las Contraseña deben coincidir</span>
            </div>
            <div class="register-box">
                <input class="control" type="password" name="confirmar" id="confirmar" required placeholder="Confirmar Contraseña">
                <span>Las Contraseña deben coincidir</span>
            </div>
        </div>
        <div class="div-button">
            <button class="button" type ='submit'>Enviar </button>
            <button class="button" type='reset'>Borrar</button>
        </div>
    </form>
    </main>
    <footer >
        <div class="footer">
            
            <div class="flex-footer">
                <div class="icon-footer"><i class="fas fa-credit-card"></i></div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Libre Cash, tenés cuotas sin 
                    interés con tarjeta o efectivo en puntos de
                    pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="flex-footer">
                <div class="icon-footer"><i class="fas fa-gift"></i></div>
                    <h3>Envio gratis desde los $2.500</h3>
                    <p>Solo por estar registrado en Mercado Liebre
                        tenés envíos gratis en miles de productos. Es
                        un beneficio de Mercado Puntos.</p>
            </div>
            <div class="flex-footer">
                <div class="icon-footer"> <i class="fas fa-user-shield"></i></div>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta?¡Devolvelo! En MercadoLiebre
                    no hay nada que no puedas hacer porque estas
                    siempre protegido. </p>
                </div>
        </div>
                <div class="copyright"><p><strong> Copyright © 1999-2020 MercadoLiebre S.R.L</strong></p></div>
        </footer>

</body>
</html>