<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

	<div class="container products-wrapper">
			<h2 class="products-title">Formulario de creación de productos</h2>
		</div>
        <div>
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre del producto:</label>
                    <input type="text" name="name" id="name" placeholder="Ej: Zapatillas Reebok">
                </div>
                <div>
                    <label for="price">Precio del producto:</label>
                    <input type="text" name="price" id="price" placeholder="Ej: 140">
                </div>
                <div>
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category">
                        <option value="">Elegí</option>
                        <option value="in-sale">En oferta</option>
                        <option value="visited">Últimos agregados</option>
                    </select>
                </div>
                <div >
                    <label name="imgP" >Imagen del producto</label> 
                    <div> 
                        <input type="file" name="imgP" 
                        id="imgP" accept="image/.jpg, image/.png" required>  
                    </div>
                </div> 
                <div class="col-12">
                    <label for="description" >Descipción:</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="buy-button">Guardar producto</button>
                </div>
            </form>
        </div>
    
    <%- include('partials/footer')  %> 
</body>
</html>