<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>
    
    <section class="banner">
        <div>
            <img src="/images/img-home-banner.jpg" alt='Home banner'>
        </div>
    </section>

    <h3 class="tituales">Basado en tu última visita</h3>
    <main>
        <section class="main-section">

            <article class="product">
                <img src="/images/products/" alt="">

                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$</p>
                    <p class="descuento">% OFF</p>
                    <p class="descripcion"></p>
                </div>
            </article>

           
        </section>

        <h3 class="tituales">Seccion de Ofertas</h3>
        
        <section class="main-section">
            <article class="product">
                <img src="/images/products/" alt="">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$</p>
                    <p class="descuento"> %OFF</p>
                    <p class="descripcion"> </p>
                </div>
            </article>

        </section>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>