<footer>
    <div class="footer">

        <div class="flex-footer">
            <div class="icon-footer"><i class="fas fa-credit-card"></i></div>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Libre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro! </p>
        </div>
        <div class="flex-footer">
            <div class="icon-footer"><i class="fas fa-gift"></i></div>
            <h3>Envio gratis desde los $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre
                tenés envíos gratis en miles de productos. Es
                un beneficio de Mercado Puntos.</p>
        </div>
        <div class="flex-footer">
            <div class="icon-footer"> <i class="fas fa-user-shield"></i></div>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque estas
                siempre protegido. </p>
        </div>
    </div>
    <div class="copyright">
        <p><strong> Copyright © 1999-2020 MercadoLiebre S.R.L</strong></p>
    </div>
</footer>