<header class="header">
    <div class="top-header">
        <a href="/"> 
            <img src="/images/logo-mercado-liebre.svg"  class='logo'></a>
        <form actiona="/search" mehtod="GET" class="search-bar">
            <input type="search" placeholder="Buscar productos, marcas" >
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
        <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="/products">Todos los Productos</a></li>
            <li><a href="#">Tienda Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/users/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
            <li><a href="/users/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>